@model IEnumerable<HotelManagementMVCApp.ViewModel.RoomBookingDetailsVM>

<table class="table table-striped" style="width:100%">
    <thead class="bg-primary">
        <tr>
            <th>Action</th>
            <th>Customer</th>
            <th>Booked From</th>
            <th>Booked To</th>
            <th>Room Number</th>
            <th>Occupants</th>
            <th>Room Price</th>
            <th>Days Booked</th>
            <th>Total Amount</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <span id="btnEdit" class="glyphicon glyphicon-pencil btn btn-info" onclick="EditRoom(@item.bookingId)">Edit</span>&nbsp;&nbsp;
                <span id="btnDelete" class="glyphicon glyphicon-trash btn btn-danger" onclick="DeleteRoom(@item.bookingId)">Delete</span>
            </td>
            <td>@item.customer</td>
            <td>@item.bookingFrom</td>
            <td>@item.bookingTo</td>
            <td>@item.roomNumber</td>
            <td>@item.numberOfOccupants</td>
            <td>@item.roomPrice</td>
            <td>@item.numberOfDays</td>
            <td>@item.totalAmount</td>
        </tr>
        }
    </tbody>
</table>
