@model IEnumerable<HotelManagementMVCApp.ViewModel.RoomDetailsVM>

<table class="table table-striped" style="width:100%">
    <thead class="bg-primary">
        <tr>
            <th>Action</th>
            <th>Room Image</th>
            <th>Room Number</th>
            <th>Room Price</th>
            <th>Booking Status</th>
            <th>Room Type</th>
            <th>Room Capacity</th>
            <th>Room Description</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                <span id="btnEdit" class="glyphicon glyphicon-pencil btn btn-info" onclick="EditRoom(@item.roomId)">Edit</span>&nbsp;&nbsp;
                <span id="btnDelete" class="glyphicon glyphicon-trash btn btn-danger" onclick="DeleteRoom(@item.roomId)">Delete</span>
            </td>
            <td><img src="@Url.Content("~/RoomImages/"+ item.roomImage)" width="30" height="30" class="img-responsive" /></td>
            <td>@item.roomNumber</td>
            <td>@item.roomPrice</td>
            <td>@item.bookingStatus</td>
            <td>@item.roomType</td>
            <td>@item.roomCapacity</td>
            <td>@item.roomDescription</td>
        </tr>
        }
    </tbody>
</table>