@model HotelManagementMVCApp.ViewModel.RoomVM

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadRoomDetails();
        $("#txtRoomId").val("0");
        $("#btnSave").click(function () {
            SaveRoomData();
        });
    });

    function EditRoom(roomId) {
        $.ajax({
            async: true,
            type: "GET",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            data: { roomId: roomId },           
            url: "/Room/EditRoomDetails",             
            success: function (data) {                
                $("#txtRoomNumber").val(data.roomNumber);
                $("#txtRoomPrice").val(data.roomPrice);
                $("#ddRoomStatus").val(data.bookingStatusId);
                $("#ddRoomType").val(data.roomTypeId);
                $("#txtRoomCapacity").val(data.roomCapacity);
                $("#txtRoomDescription").val(data.roomDescription);
                $("#imageRoom").attr('src', "../RoomImages/" +data.roomImage);

                $("#divAddRoom").modal({ show: true });

                $("#txtRoomId").val(data.roomId);
                $("#btnSave").text("Update");
            },
            error: function () {
                alert("There is some problem processing your request.");                
            }
        });        
    }

    function DeleteRoom(roomId) {
        var result = confirm("Are you sure you want to delete this record?");

        if (result == false) {
            return false;
        }

        $.ajax({
            async: true,
            type: "GET",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            data: { roomId: roomId },
            url: "/Room/DeleteRoomDetails",
            success: function (data) {
                if (data.success == true) {
                    alert(data.message);                    
                    LoadRoomDetails();
                }
            },
            error: function () {
                alert("There is some problem to process your request. Please try again after some time.");
            }
        });
    }

    function LoadRoomDetails() {        
        $.ajax({
            async: true,
            data: "GET",
            dataType: "HTML",
            contentType: false,
            processData: false,
            url: "/Room/GetAllRooms",
            success: function (data) {
                $("#divLoadRoomDetails").html(data);
            },
            error: function () {
                alert("There was some problem to process your request.");
            }

        });
    }

    function SaveRoomData() {
        var formData = new FormData();        
        formData.append("roomId", $("#txtRoomId").val());
        formData.append("roomNumber", $("#txtRoomNumber").val());
        formData.append("roomPrice", $("#txtRoomPrice").val());
        formData.append("bookingStatusId", $("#ddRoomStatus").val());
        formData.append("roomTypeId", $("#ddRoomType").val());
        formData.append("roomCapacity", $("#txtRoomCapacity").val());
        formData.append("roomDescription", $("#txtRoomDescription").val());

        formData.append("Image", $("#uploadImage").get(0).files[0]);

        $.ajax({
            async: true,
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data.success == true) {
                    alert(data.message);
                    ResetRoomInformation();
                    LoadRoomDetails();
                }
            },
            error: function () {
                alert("There is an error processing your request. Please try after some time");
            }
        });
    }

    function ResetRoomInformation() {
        $("#txtRoomNumber").val('');
        $("#txtRoomPrice").val('');
        $("#ddBookingStatus").val(1);
        $("#ddRoomType").val(1);
        $("#txtRoomCapacity").val('');
        $("#txtRoomDescription").val('');
        $("#uploadImage").val('');
        $("#imageRoom").removeAttr('src');
        $("#txtRoomNumber").focus();
        $("#txtRoomId").val(0);
        $("#btnSave").text("Update");
    }

    function DisplayImage(result) {
        if (result.files && result.files[0]) {
            var fileReader = new FileReader();

            fileReader.onload = function (e) {
                $("#imageRoom").attr('src', e.target.result);
            }
            fileReader.readAsDataURL(result.files[0]);
        }
    }

</script>

<div style="margin-top:10px">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#divAddRoom" data-backdrop="static" data-keyboard="false" >Add Room</button>
</div>

<div id="divAddRoom" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Room</h4>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            @Html.HiddenFor(m => m.roomId, new { @id="txtRoomId"})
                            <div class="form-group col-md-2">
                                @Html.LabelFor(m => m.roomNumber)
                                @Html.TextBoxFor(m => m.roomNumber, new { @class = "form-control", id="txtRoomNumber" })
                            </div>

                            <div class="form-group col-md-2">
                                @Html.LabelFor(m => m.roomPrice)
                                @Html.TextBoxFor(m => m.roomPrice, new { @class = "form-control", id = "txtRoomPrice" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-2">
                                @Html.LabelFor(m => m.bookingStatusId)
                                @Html.DropDownListFor(m => m.bookingStatusId, Model.ListOfBookingStatus, new { @class = "form-control", id = "ddRoomStatus" })
                            </div>

                            <div class="form-group col-md-2">
                                @Html.LabelFor(m => m.roomTypeId)
                                @Html.DropDownListFor(m => m.roomTypeId, Model.ListOfRoomType, new { @class = "form-control", id = "ddRoomType" })
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-2">
                                @Html.LabelFor(m => m.roomCapacity)
                                @Html.TextBoxFor(m => m.roomCapacity, new { @class = "form-control", id = "txtRoomCapacity" })
                            </div>

                            <div class="form-group col-md-2">
                                @Html.LabelFor(m => m.roomDescription)
                                @Html.TextBoxFor(m => m.roomDescription, new { @class = "form-control", id = "txtRoomDescription" })
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-2">
                                @Html.LabelFor(m => m.roomImage)
                                <input id="uploadImage" type="file" class="form-control" name="roomImage" title="Load Image" onchange="DisplayImage(this)" />
                                <img id="imageRoom" height="100" width="100" style="border:solid" />
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-success">Save</button> &nbsp;
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:10px">

</div>
<div id="divLoadRoomDetails">

</div>
